.h-offers{
  .offer {
    margin-top: 40px;
    .img {
      width: 220px;
      height: 220px;
    }
    h4{color:$green-color;}
  }

}

.lineo{
  .line{height: 2px; background-color: $green-color;}
  h1{color: $green-color;}
}