.calendar{
  margin-top: 00px;
  margin-bottom: 30px;
  .fc-content{
    background-color: $green-color !important;
    border-radius: 0px !important;
    border: 1px solid $green-color !important;
    line-height: 1.5 !important;

  }
  #fuck-nav{
    background-color: white;


    .tab{margin-top: 5%;margin-bottom: 5%; padding-top: 0%; ;.button{font-weight: 700;color: $green-color;cursor: pointer; border: 2px solid $green-color;padding: 10px;padding-left: 20px; padding-right: 20px;font-size: 14px; &:hover{background-color: $green-color;color:white}}}
    .activet{background-color: $green-color;.button{color:white !important;}}
  }
}