.comapany_create{
  margin-top: 30px;
  margin-bottom: 30px;
  .line{
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #CCC;
    .toggle-text{
      margin-top: 40px;
      .form-line{

        .form-group{padding-top: 10px;padding-bottom: 10px;}
        input{border-radius: 1px;height: 45px}
        .summary{font-weight: 100; font-size: 13px; }
        .imga{width: 100%; background-color: #3E4B58; height: 150px;}
        .button{width: 100%; height: 30px; background-color: $green-color; color: white; margin-top: 20px;    padding-top: 5px; font-weight: 700}
      }

    }

  }
}