.companies{

  margin-bottom: 00px;
  .indi-comp{
    margin-bottom: 23px;

  }
  .comp-img{
   img{width: 100%;}
  }
  .text{
    h4{margin-bottom: 1px;}
    p{margin-bottom: 1px;}
  }

  svg{position: relative;top: 4px;width: 20px; height: 20px; path{fill:$green-color;}
    &:hover{path{fill:lighten($green-color,10%);}}

  }
  #ito{width: 18px; height: 18px;  }

  .button{
    font-size: 16px;
    font-weight: 500;
    background-color: $green-color;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;

  }


}