@import "offers";
@import "top_five_comp";
@import "tips";
@import "tips_detail";
@import "rules";
@import "companies_create";
@import "products";
@import "templates";
@import "companies";
@import "faq";
@import "terms";
@import "contact";
@import "form";

.top_banner{
  width: 100%;
  background-color: $green-color;
  .line{background-color: white; height: 1px;}
}


#donga{


  .products{
    margin: 0 auto;
    .product{
      margin: 0;
      padding: 0;
      width: 32.0%;
      height: auto;
      margin: 6px;
      background-size: cover;
      .overlay{
        z-index: 2;
        opacity: 0;
        transition: opacity 0.5s;
        position: relative; top:0;left: 0; width: 100%;

        .color{background-color: rgba(0,0,0,0.35); height: 85%; padding-top: 20%;padding-bottom: 20%;}
        .icon{padding: 0;background-color: white; ;z-index: 2;
          .col-sm-6{background-color: white; height: 120px;#title{font-size: 17px;}}
          .star{color: $green-color}
          #greeno{color: $green-color; padding: 0}
          .l_icons{}
          .l_icons>span{margin-right: 10px;img{margin-top: 5px; width: 27px;cursor:pointer; transition: all .2s ease-in-out; &:hover{-webkit-transform: scale(0.92);transform: scale(0.92);}}}

        }
        &:hover{opacity: 1}
      }


    }
  }


}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  #donga {
    .products{
      margin: 0 auto;
      .product{
        margin: 0;
        padding: 0;
        width: 48%;
        float: left;
        margin: 5px;
        background-size: cover;
        .overlay{
          z-index: 2;
          opacity:1;
          transition: opacity 0.5s;
          position: relative; top:0;left: 0; width: 100%;

          .color{background-color: rgba(0,0,0,0.35); height: 85%; padding-top: 27%;padding-bottom: 27%;}
          .icon{padding: 0;background-color: white; ;z-index: 2;    display: flex; display: -webkit-flex;
            .col-sm-6{background-color: white; height: 95px;#title{font-size: 18px; }p{font-size: 12px;}}
            .star{color: $green-color}
            #greeno{color: $green-color; padding: 0}
            .l_icons{}
            .l_icons>span{margin-right: 14px;img{margin-top: 5px; width: 21px;}}

          }
          &:hover{opacity: 1}
        }



      }
    }


  }
}










/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .top_banner{
    width: 100%;
    background-color: $green-color;
    padding-top: 10px;
    .line{background-color: white; height: 1px;}
  }

  #donga {
    .products{
      margin: 0 auto;
      .product{
        margin: 0;
        padding: 0;
        width: 48%;
        float: left;
        margin: 5px;
        background-size: cover;
        .overlay{
          z-index: 2;
          opacity:1;
          transition: opacity 0.5s;
          position: relative; top:0;left: 0; width: 100%;

          .color{background-color: rgba(0,0,0,0.35); height: 85%; padding-top: 27%;padding-bottom: 27%;}
          .icon{padding: 0;background-color: white; ;z-index: 2;    display: flex; display: -webkit-flex;
            .col-sm-6{background-color: white; height: 95px;#title{font-size: 18px; }p{font-size: 12px;}}
            .star{color: $green-color}
            #greeno{color: $green-color; padding: 0}
            .l_icons{}
            .l_icons>span{margin-right: 14px;img{margin-top: 5px; width: 21px;}}

          }
          &:hover{opacity: 1}
        }



      }
    }


  }




}

/* Portrait phones and smaller */
@media (max-width: 480px) {
#donga{
  .products{
    margin: 0 auto;
    .product{
      margin: 0;
      padding: 0;
      width: 100%;

      margin: 5px;
      background-size: cover;
      .overlay{
        z-index: 2;
        opacity: 1;
        transition: opacity 0.5s;
        position: relative; top:0;left: 0; width: 100%;

        .color{background-color: rgba(0,0,0,0.35); height: 85%; padding-top: 27%;padding-bottom: 27%;}
        .icon{padding: 0;background-color: white; ;z-index: 2;    display: flex; display: -webkit-flex;
          .col-sm-6{background-color: white; height: 105px;#title{font-size: 19px; }p{font-size: 14px;}}
          .star{color: $green-color}
          #greeno{color: $green-color; padding: 0; margin-left: 16%}
          .l_icons{}
          .l_icons>span{margin-right: 5px; text-align:right; img{margin-top: 5px; width: 20px;}}

        }
        &:hover{opacity: 1}
      }


    }
  }
}
}