.tips_detail{

  margin-top: 10px;

  .left-date{
    top: -35px;
    position: relative;
    .icon{margin-right: 20px;}
  }
  .texto{
    p{color:#3E4B58;}
    margin-top: 30px;
  }
  .comments{margin-bottom: 30px;}

}