<%= render 'home/top_banner', title: 'Comming Soon'%>
<% content_for :title, "Comming Soon" %>


<div class="container comming_soon">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <div class="logo-box">
        <%= image_tag 'Manazil logo 2.svg', id: 'sooner'%>
      </div>
      <h2>We are working on it</h2>
      <div class="form-group">

        <div class="col-sm-12">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email address">
        </div>
        </div>


      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label" style="text-align: left"></label>
        <div class="col-sm-12">

          <div class="button text-center">SUBMIT</div>
        </div>
      </div>


    </div>
  </div>
</div>
