<%= render 'home/top_banner', title: 'Contact Us'%>
<% content_for :title, "Contact Us" %>



<div class="container">
  <div class="row">
    <div class="col-md-9 contact-form">





      <form class="form-horizontal">

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label" style="text-align: left">FULL NAME <br><span class="text-muted summary">First and last name</span></label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Enter your full name">
          </div>
        </div>


        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label" style="text-align: left">EMAIL ADDRESS <br><span class="text-muted summary">Verified email address</span></label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="inputEmail3" placeholder="example@domain.com">
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label" style="text-align: left">PHONE NUMBER <br><span class="text-muted summary">Include your area code</span></label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Phone number (optional)">
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label" style="text-align: left">SUBJECT <br><span class="text-muted summary">Title about topic</span></label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Subject">
          </div>
        </div>


        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label" style="text-align: left">Description <br><span class="text-muted summary">Message Details</span></label>
          <div class="col-sm-8">
            <input type="email" class="form-control message"  placeholder="">
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-3 control-label" style="text-align: left"></label>
          <div class="col-sm-8">
            <div class="button text-center">SUBMIT</div>
          </div>
        </div>




      </form>








    </div>

    <div class="col-md-3 contact-details">

      <div class="block">
        <label>CONTACT INFORMATION</label>
        <p class="text-muted"><%= fa_icon 'map-marker', class: 'greeno'%>&nbsp;&nbsp;&nbsp;&nbsp; Location: &nbsp; info@manazil.com</p>
        <p class="text-muted"><%= fa_icon 'envelope', class: 'greeno'%>&nbsp;&nbsp;&nbsp;&nbsp; Email: &nbsp; +982565 445 22</p>
        <p class="text-muted"><%= fa_icon 'phone', class: 'greeno'%>&nbsp;&nbsp;&nbsp;&nbsp;Phone: &nbsp;  +982565 445 22</p>
      </div>

    </div>


  </div>
</div>
