<%= render 'home/top_banner', title: 'FAQ'%>
<% content_for :title, "FAQ" %>


<div class="container faq">

  <div class="row">


    <% 8.times do %>

        <div class="col-md-6 col-sm-6 col-xs-12 indi-cat">

      <div class="col-xs-2">

        <%= image_tag 'info.png', class: 'icon'%>

      </div>

      <div class="col-xs-10">

        <label>GENERAL</label>
        <p>Lorem dolor amet, consectetur adipisicin?</p>
        <p>Lorem ipsum dolor sit amet, mang adipisicin?</p>
        <p>Lorem ipsum, consectetur adipisicin consectetur?</p>
        <div class="button text-center">View all questions</div>

      </div>


    </div>

    <%end%>

  </div>

</div>


