
<% content_for :title, "Manazil" %>

<div class="container-fluid homeio">
  <iframe class="hidden-xs hidden-sm" id="animation" src="https://direct-aid.org/test/mL/index.html" frameborder="0"></iframe>
  <iframe  class="visible-xs visible-sm"  id="animation2" src="https://direct-aid.org/test/mLTM/index.html" frameborder="0"></iframe>
</div>


