<%= render 'home/top_banner', title: 'Special Offers'%>
<% content_for :title, "Offers" %>

<div class="container h-offers">
  <div class="row">

    <% 6.times do%>

        <div class="col-md-4 col-sm-6 col-xs-12 offer text-center">
          <%= image_tag 'home.jpg', class: 'img img-circle'%>
          <h4>Shop Name</h4>
          <h4>23 Sept - 25 Sept 2015</h4>
        </div>

    <% end%>

  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center" style="line-height: 25px; margin-top: 30px;">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias necessitatibus quibusdam quo. Adipisci aliquam architecto commodi deleniti distinctio enim, error esse expedita in inventore maiores minus nisi, numquam quisquam, voluptate.</p>
    </div>
  </div>

</div>





<div class="container lineo">
  <div class="row">
    <div class="col-md-4 col-xs-4" style="padding-top: 40px;">
      <div class="line"></div>
    </div>
    <div class="col-md-4 col-xs-4 text-center" >
      <h1 style="margin-bottom: 20px; text-align: center;"><b><%= "Special Anouncments" %></b></h1>
    </div>
    <div class="col-md-4  col-xs-4" style="padding-top: 40px;">
      <div class="line"></div>
    </div>
  </div>
</div>


<div class="container h-offers">
  <div class="row">

    <% 3.times do%>

        <div class="col-md-4 col-sm-4 col-xs-12 offer text-center">
          <%= image_tag 'home.jpg', class: 'img img-circle'%>
          <h4>Shop Name</h4>
          <h4>23 Sept - 25 Sept 2015</h4>
        </div>

    <% end%>

  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center" style="line-height: 25px; margin-top: 30px;margin-bottom: 40px;">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias necessitatibus quibusdam quo. Adipisci aliquam architecto commodi deleniti distinctio enim, error esse expedita in inventore maiores minus nisi, numquam quisquam, voluptate.</p>
    </div>
  </div>

</div>