<%= render 'home/top_banner', title: 'Templates'%>
<% content_for :title, "Templates" %>

<div class="container templates">


    <div class="col-md-4 boxi">
      <div class="icon">
        <%= fa_icon 'file-text-o 5x'%>
      </div>
      <div class="line">
        <div class="col-md-2 download text-center"><a href="<%= public_path('/docs/Rejoin.doc')%>"><%= fa_icon 'download '%></a></div>
        <div class="col-md-10  title "> Rejoin</div>
      </div>
    </div>



</div>