<%= render 'home/top_banner', title: 'Templates'%>
<% content_for :title, "Templates" %>

<div class="container templates">


  <% 7.times do %>

  <div class="col-md-3 col-sm-4  boxi">


    <div class="imigo">
      <%= image_tag 'templates.svg'%>
    </div>

    <div class="text-center greeno text"><b>Template</b></div>


    </div>

      <%end %>




</div>