<%= render 'home/top_banner', title: 'Terms & Condition'%>
<% content_for :title, "Terms & Condition" %>


<div class="container terms">
  <div class="row">
    <div class="col-md-12">
      <h4>Terms and Condition ("Terms")</h4>
        <%6.times  do %>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis delectus deserunt ipsam minima minus perspiciatis quasi quos, tempora tempore ut. Nihil, temporibus, ut. A aliquam consectetur exercitationem, impedit ipsam molestias necessitatibus reiciendis. Aut commodi cupiditate dignissimos distinctio enim error esse explicabo hic labore maxime natus necessitatibus neque nisi non placeat possimus qui quisquam reiciendis, sit sunt ut vitae voluptatum? Cupiditate dicta doloremque eaque facere fuga illum laborum porro quam rem vitae! Aut doloribus explicabo iure maxime non, perspiciatis repudiandae voluptate. Ab adipisci alias assumenda atque consectetur culpa hic laborum molestiae nam porro quas quidem ratione saepe velit veniam veritatis, voluptatum?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias, assumenda doloribus error facilis impedit ipsa nesciunt obcaecati, officiis quaerat quibusdam quod sint, voluptatum? Accusamus distinctio illo mollitia omnis possimus recusandae totam voluptates. Animi asperiores autem cum cumque deleniti dignissimos dolor dolorem, doloribus ea eaque eos error excepturi fugit hic in incidunt iste minima molestias obcaecati possimus praesentium quibusdam sed sunt voluptatem voluptatum. Hic, necessitatibus, sapiente. Dolor ea earum esse eum expedita illo iure molestias nihil nostrum perspiciatis quam recusandae, suscipit. Amet animi aspernatur blanditiis corporis culpa cupiditate debitis doloremque eaque eligendi exercitationem, ipsam iste maiores molestiae nemo, nesciunt nihil nostrum obcaecati optio perferendis quaerat quasi quibusdam ratione recusandae tempora ullam veniam voluptas. Accusantium, amet deleniti doloribus ducimus ea, enim excepturi necessitatibus nisi, obcaecati porro quod saepe. Animi asperiores cum, deserunt quod unde voluptate. Accusamus, at eius enim illum in ipsum nam velit voluptatibus? Adipisci, aliquam assumenda blanditiis delectus deserunt dolor dolores dolorum ea esse harum officia possimus quibusdam tempora, tempore tenetur voluptas voluptates. Commodi est labore odio pariatur perferendis provident, sunt vero? Ab, accusantium beatae dolor dolore excepturi maiores minima obcaecati, perferendis quaerat quam, quis repudiandae suscipit ullam. A animi consectetur cumque distinctio eaque est hic id ipsa iste labore laborum minus molestias officia perferendis provident quo repellat, tenetur voluptas. Eius et exercitationem sint! Assumenda distinctio esse ipsa labore libero maxime possimus, quas ut! Eligendi quae ratione sed soluta. Beatae delectus dolores nostrum numquam quae quidem, voluptates! Beatae error hic labore, odio perferendis quam unde ut velit veritatis. Incidunt.</p>
          <br/>
      <%end%>
    </div>
  </div>
</div>