<%= render 'home/top_banner', title: 'Tips and Tricks'%>
<% content_for :title, "Tips" %>

<div class="container tipo">

<%9.times do%>
      <div class="row">
        <div class="col-md-12">


  <div class="media">
    <div class="media-left">

        <%= image_tag 'artecasa.jpg' , class: 'img'%>
    </div>
    <div class="media-body" >
      <h3 class="media-heading greeno"><b> The black board over! </b><span class="left-date pull-right hidden-xs"><span class="icon"><%= fa_icon 'calendar'%></span>15 July, 2015</span> </h3>
      <span class="left-date pull-left visible-xs greeno" style=""><span class="icon"><%= fa_icon 'calendar'%></span>15 July, 2015</span>

      <p class="hidden-xs hidden-sm">Lorem iposum dolor sito amet, consectetur adipisicing elit. Aliquam aliquidin beatae consectetur, consequuntur error illum laudantium minima necessitatibus officia quis rerum similique, sint temporibus, vitae voluptates voluptatum. Rerum.</p>
      <a class="hidden-xs hidden-sm" style="text-decoration: none;position: relative;top: 5%;" href="/tips/1"><b>See More</b></a>
    </div>
    <p style="margin-top: 10px;" class="visible-xs visible-sm">Lorem iposum dolor sito amet, consectetur adipisicing elit. Aliquam aliquidin beatae consectetur, consequuntur error illum laudantium minima necessitatibus officia quis rerum similique, sint temporibus, vitae voluptates voluptatum. Rerum.</p>
    <a class="visible-xs visible-sm" style="text-decoration: none;position: relative;top: 0%;color: #2E2F30" href="/tips/1"><b>See More</b></a>
  </div>
        </div>
      </div>
      <%end%>

  <div class="row">
    <div class="pagination-center col-md-4 col-md-offset-8 col-xs-10 col-xs-offset-1 text-right">

      <ul class="pagination ">
        <li class="activeo"><a  style="color: white" href="#">1</a></li>
        <li  ><a href="#">2</a></li>
        <li   ><a href="#" >3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
      </ul>


    </div>
  </div>

</div>