<%= render 'home/top_banner', title: 'Tips and Tricks'%>

<div class="container tipo">

<%9.times do%>
      <div class="row">
        <div class="col-md-12">


  <div class="media">
    <div class="media-left">

        <%= image_tag 'artecasa.jpg' , class: 'img'%>
    </div>
    <div class="media-body" >
      <h3 class="media-heading greeno"><b> The black board over! </b><span class="left-date pull-right"><span class="icon"><%= fa_icon 'calendar'%></span>15 July, 2015</span> </h3>
      <p>Lorem iposum dolor sito amet, consectetur adipisicing elit. Aliquam aliquidin beatae consectetur, consequuntur error illum laudantium minima necessitatibus officia quis rerum similique, sint temporibus, vitae voluptates voluptatum. Rerum.</p>
      <a style="text-decoration: none;position: relative;top: 15px;" href="#"><b>See More</b></a>
    </div>
  </div>
        </div>
      </div>
      <%end%>

  <div class="row">
    <div class="col-md-4 col-md-offset-8 text-right">

      <ul class="pagination ">
        <li><a href="#">1</a></li>
        <li  ><a href="#">2</a></li>
        <li  class="activeo" ><a href="#" style="color: white">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
      </ul>


    </div>
  </div>

</div>