
<% content_for :title, "Inner" %>

<div class="container-fluid user_welcome">
  <iframe class="hidden-xs hidden-sm" id="animation" src="https://direct-aid.org/test/mU/index.html" frameborder="0"></iframe>
  <iframe class="visible-xs visible-sm" id="animation" src="https://direct-aid.org/test/mUTM/index.html" frameborder="0"></iframe>
</div>


