
<% content_for :title, "Inner" %>

<div class="container-fluid user_welcome">
  <iframe class="hidden-xs hidden-sm" id="animation" src="http://development.manazil-in.divshot.io/" frameborder="0"></iframe>
  <iframe class="visible-xs visible-sm" id="animation" src="http://development.manazil-inm.divshot.io/" frameborder="0"></iframe>
</div>


