.branches{
  .branch{
    margin-top: 20px;
    .map{

      background-color: #3E4B58;
      div{height: 250px;}

    }
    h4{color: $green-color; margin-top: 15px;}
    .col-sm-6{
      padding: 0;
      .greeno{color: $green-color; }
    }
   #border-line{border-left: 3px solid $green-color;padding-left: 10px;margin-bottom: 10px;}
  }
}




/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  .branches{
    .branch{
      margin-top: 30px;
      .map{

        background-color: #3E4B58;
        div{height: 250px;}

      }
      h4{color: $green-color; margin-top: 15px;}
      .col-sm-6{
        padding: 0;
        .greeno{color: $green-color; }
      }
      #border-line{border-left: 3px solid $green-color;padding-left: 10px;margin-bottom: 10px;}
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  .branches{
    .branch{
      margin-top: 30px;
      .map{

        background-color: #3E4B58;
        div{height: 250px;}

      }
      h4{color: $green-color; margin-top: 15px;}
      .col-sm-6{
        padding: 0;
        .greeno{color: $green-color; }
      }
      #border-line{border-left: 3px solid $green-color;padding-left: 10px;margin-bottom: 10px;}
    }
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {



}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}