.offers{
  .header{
    .line{background-color: $green-color; height: 2px; margin-top: 36px; }
    h2{color: $green-color; text-align: center;}
  }
  .offer_imgs{
    margin-top: 30px;
    img{width: 220px; height: 220px;}
  }
  .text{
    margin-top: 30px;
    margin-bottom: 30px;
    h3{color: $green-color;}
  }
}






.s_offers{
  .header{
    .line{background-color: $green-color; height: 2px; margin-top: 36px; }
    h2{color: $green-color; text-align: center;}
  }
  .col-md-6{ ul{list-style: none;text-align:left;padding:0;margin-bottom:30px; margin-top: 30px; li{ margin-top: 20px; span>i{color: $green-color;margin-right:20px;} } }}
  .left{ text-align:center;margin-top: 30px; img{width: 220px; height: 220px;}}
  .right{text-align:center;margin-top: 30px; img{width: 220px; height: 220px;}}
}