.offers{
  .header{
    .line{background-color: $green-color; height: 1px; margin-top: 36px; }
    h2{color: $green-color; text-align: center;}
  }
  .offer_imgs{
    margin-top: 30px;
    img{width: 220px; height: 220px;}
  }
  .text{
    margin-top: 30px;
    margin-bottom: 30px;
    h3{color: $green-color;}

  }
}

.s_offers{

  .header{
    .line{background-color: $green-color; height: 1px; margin-top: 36px; }
    h2{color: $green-color; text-align: center;}
  }
  .col-sm-6{.small{
    width: 30px;
    height: 30px;
  } ul{text-align: center;list-style: none;;padding:0;margin-bottom:30px; margin-top: 30px; li{ margin-top: 20px; span>i{color: $green-color;margin-right:20px;} } }}
  .left{ text-align:center;margin-top: 30px; img{width: 220px; height: 220px;}}
  .right{text-align:center;margin-top: 30px; img{width: 220px; height: 220px;}}
}





/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .offers{
    .header{
      .line{background-color: $green-color; height: 1px; margin-top: 36px; }
      h2{color: $green-color; text-align: center;}
    }
    .offer_imgs{
      margin-top: 30px;
      img{width: 170px; height: 170px;}
    }
    .text{
      margin-top: 30px;
      margin-bottom: 30px;
      h3{color: $green-color;}

    }
  }

  .s_offers{
    .header{
      .line{background-color: $green-color; height: 1px; margin-top: 36px; }
      h2{color: $green-color; text-align: center;}
    }
    .col-xs-6{.small{
      width: 30px;
      height: 30px;
    }

      ul{list-style: none;text-align:center;padding:0;margin-bottom:30px; margin-top: 40px; li{ margin-top: 20px;  span>i{color: $green-color;margin-right:20px;} } }}
    .left{ text-align:center;margin-top: 30px; img{width: 170px; height: 170px;}}
    .right{text-align:center;margin-top: 30px; img{width: 170px; height: 170px;}}
  }




}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .offers{
    .header{
      .line{background-color: $green-color; height: 1px; margin-top: 36px; }
      h2{color: $green-color; text-align: center;}
    }
    .offer_imgs{
      margin-top: 30px;
      img{width: 200px; height: 200px;}
    }
    .text{
      margin-top: 30px;
      margin-bottom: 30px;
      h3{color: $green-color;}

    }
  }

  .s_offers{
    .header{
      .line{background-color: $green-color; height: 1px; margin-top: 36px; }
      h2{color: $green-color; text-align: center;}
    }
    .col-xs-6{
      .listo>li>span{font-size: 12px !important;}
      .small{
      width: 30px;
      height: 30px;
    } ul{list-style: none;text-align:center;padding:0;margin-bottom:30px; margin-top: 30px; li{ margin-top: 20px; span>i{color: $green-color;margin-right:20px;} } }}
    .left{ text-align:center;margin-top: 30px; img{width: 200px; height: 200px;}}
    .right{text-align:center;margin-top: 30px; img{width: 200px; height: 200px;}}
  }



}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .offers{
    .header{
      .line{background-color: $green-color; height: 1px; margin-top: 36px; }
      h2{color: $green-color; text-align: center; font-size: 21px}
    }
    .offer_imgs{
      margin-top: 30px;
      img{width: 150px; height: 150px;}
    }
    .text{
      margin-top: 30px;
      margin-bottom: 30px;
      h3{color: $green-color;}

    }
  }

  .s_offers{
    .header{
      .line{background-color: $green-color; height: 1px; margin-top: 36px; }
      h2{color: $green-color; text-align: center; font-size: 21px}
    }
    .col-xs-6{
      .listo>li>span{font-size: 10px !important;}
      .small{
        width: 30px;
        height: 30px;
      } ul{list-style: none;text-align:center;padding:0;margin-bottom:30px; margin-top: 30px; li{ margin-top: 20px; span>i{color: $green-color;margin-right:20px;} } }}
    .left{ text-align:center;margin-top: 30px; img{width: 150px; height: 150px;}}
    .right{text-align:center;margin-top: 30px; img{width: 150px; height: 150px;}}
  }



}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .offers{
    .header{
      .line{background-color: $green-color; height: 1px; margin-top: 36px; }
      h2{color: $green-color; text-align: center; font-size: 17px}
    }
    .offer_imgs{
      margin-top: 30px;
      img{width: 95px; height: 95px;}
    }
    .text{
      margin-top: 30px;
      margin-bottom: 30px;
      h3{color: $green-color;}

    }
  }

  .s_offers{
    .header{
      .line{background-color: $green-color; height: 1px; margin-top: 36px; }
      h2{color: $green-color; text-align: center; font-size: 21px}
    }
    .col-xs-6{
      .listo>li>span{font-size: 9px !important; img{width: 15px; height: auto !important;}}
      .small{
        width: 30px;
        height: 30px;
      } ul{list-style: none;text-align:center;padding:0;margin-bottom:30px; margin-top: 30px; li{ margin-top: 20px; span>i{color: $green-color;margin-right:20px;} } }}
    .left{ text-align:center;margin-top: 30px; img{width: 95px; height: 95px;}}
    .right{text-align:center;margin-top: 30px; img{width: 95px; height: 95px;}}
  }
}



