
.products{
  margin: 0 auto;
  .product{
    margin: 0;
    padding: 0;
    width: 32.4%;

    margin: 6px;
    background-size: cover;
    .overlay{
      z-index: 2;
      opacity: 0;
      transition: opacity 0.5s;
      position: relative; top:0;left: 0; width: 100%;

      .color{background-color: rgba(0,0,0,0.35); height: 250px;}
      .icon{background-color: white; height: 117px;
        .star{color: $green-color}
        #greeno{color: $green-color}
        .l_icons{padding-top: 25px;}
        .l_icons>span{margin-right: 20px; font-size: 25px}

      }
      &:hover{opacity: 1}
    }


  }
}