.reviews{
  .line{background-color: $green-color; height: 1px; margin-top: 20px; margin-bottom: 50px; }
  .latest{
    h2{color: $green-color;}
    p{  line-height: 25px}
    .r_imgs{
      .review{
        text-align: center;
        .img{;width: 180px; height: 180px;}
        .r_info{
          margin-top: 10px;
          text-align: left;
          img{width: 60px;}
          .star{margin-left: 22px; color: $green-color}
        }
      }
    }
  }
}