.services{

  .col-md-6{
    height: 365px;
    .border{margin: 10px;border: 0px solid $green-color;padding: 0px;}

  }
  .header{
    background-color: $green-color;

   .thumbi{width: 160px;}
    h1{display: inline; margin-left: 30px; color: white }
  }
  .content{
    border: 2px solid $green-color;
    padding: 10px;
    border-top: 0px;
    margin-top: 0px;
  }
}



/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {




}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {


}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .services{

    .col-md-6{
      height: auto !important;
      padding:0px;
    }
    .header{
      padding-bottom: 0px;
      .thumbi{width: 160px;}
      h2{display: inline; margin-left: 30px; color: white; }
    }.content{padding: 10px;
       margin-top: 15px;}
  }


}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .services{
    margin-top: 20px;
    .col-md-6{
      height: auto !important;
      padding:0px;
    }
    .header{
      margin-bottom: 0;
      padding: 0;
      .thumbi{width: 120px;}
      h2{display: inline; margin-left: 5px; color: white; font-size: 21px; }
    }
    .content{padding: 8px;
      margin-top: 10px;}
  }
}