<%= render 'company/common_top'%>

<div class="container services">

  <div class="row">

    <% 4.times do%>
        <div class="col-md-6" style=" padding: 20px;">
          <div class="header">
            <%= image_tag 'http://ecx.images-amazon.com/images/I/81MnrvdXuuL._SX425_.jpg'%>
            <h2>RETAIL</h2>
          </div>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor doloribus expedita incidunt magni minima, nihil. Adipisci amet consequuntur dicta dolore fuga iusto maxime molestias nihil, omnis porro quae recusandae.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolor doloribus expedita incidunt magni minima.</p>
            <div class="col-md-5" style="padding: 0">
            <ul class="list" style="list-style: none; margin-top: 20px;padding: 0">
                <li>Saintery Ware</li>
                <li>Natural Stone</li>
                <li>Cramic</li>
            </ul>
            </div>
            <div class="col-md-6" style="padding: 0">
            <ul class="list" style="list-style: none; margin-left: 10px; margin-top: 20px;">
              <li>Saintery Ware</li>
              <li>Natural Stone</li>
              <li>Cramic</li>
            </ul>
            </div>
          </div>
        </div>
    <%end%>

  </div>

</div>