.xs-footer{
  text-align: center;
  background-color: darken($green-color, 10%);
  padding: 0;
  padding-top: 15px;
  p{color: white;}
  a{padding-left: 5px; padding-right: 5px;}
  a:hover{color: #2E2F30;}
}


.footer{
  background-color: darken($green-color, 10%);
  width: 100%;
  padding: 20px;
  .follow{
    border-radius: 2px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    .icon{
      svg{width: 25px; position: relative;
        top: 5px;
      &:hover{cursor: pointer ;path{fill:$green-color}}
      }
      padding-left: 7px;
      padding-right: 7px;

      border-left: 1px solid;}
  }
  .text{
    color:white;
    text-align: right;
    a:hover{color: #2E2F30;}
  }
}







/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .footer{
    background-color: darken($green-color, 10%);
    width: 100%;
    padding: 20px;
    .follow{
      border-radius: 2px;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: white;
      width: 40% !important;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      .icon{

        svg{width: 20px; position: relative;
          top: 5px;}

        padding-left: 7px;
        padding-right: 7px;
        width: 40% !important;
        border-left: 1px solid;}
    }
    .text{
      margin-left: 0%;
      color:white;
      text-align: right;
    }
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .footer{
    background-color: darken($green-color, 10%);
    width: 100%;
    padding: 20px;
    .follow{
      border-radius: 2px;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: white;
      width: 40% !important;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

      h4{font-size: 15px;}
      .icon{
        svg{width: 20px; position: relative;
          top: 5px;}
        padding-left: 7px;
        padding-right: 7px;

        border-left: 1px solid;}
    }
    .text{
      margin-left: 0%;
      color:white;
      width: 60%;
      text-align: right;
    }
  }


}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .footer{
    background-color: darken($green-color, 10%);
    width: 100%;
    padding: 20px;
    .follow{
      border-radius: 2px;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: white;
      width: 100% !important;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

      h4{font-size: 18px;}
      .first{margin-left: 10%}
      .icon{

        svg{width: 20px; position: relative;
          top: 5px;}
        padding-left: 2.5%;
        padding-right: 2.5%;

        border-left: 1px solid;}
    }
    .text{
      margin-top: 40px;
      margin-left: 0%;
      color:white;
      width: 100%;
      text-align: center;
    }
  }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .footer{
    background-color: darken($green-color, 10%);
    width: 100%;
    padding: 20px;
    .follow{
      border-radius: 2px;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: white;
      width: 100% !important;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

      h4{font-size: 13px;}
      .first{margin-left: 1%; margin-top: 4px; color: lighten(#2E2F30,2%); font-size: 16px;}
      .icon{

        svg{width: 18px; position: relative;
          top: 3px;}
        padding-left: 0.5%;
        padding-right: 0.5%;
        border-left: none;

       }
    }
    .text{
      margin-top: 30px;
      margin-left: 0%;
      color:white;
      width: 100%;
      text-align: center;
     p{ margin-bottom: 10px;};

    }
  }

}

