.navbar{
  margin-bottom: 11px;
}
.navbar-brand{

  padding-top: 0px;
  padding-right: 0px;
  text-align: center;
  img{width: 125px;margin: 0 auto;top: -12px;
    z-index: 9;
    position: relative;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    &:hover{-webkit-transform: scale(1.07);}
  }
}
#nav-links{
  margin-left: -10px;
  li{text-align: center;font-size: 10px;margin: 0;}
  li>a{height: 55px;width:55px;padding-left: 6px;; padding-right: 6px;padding-bottom:0px;padding-top:2px;-webkit-transition: .3s ; &:hover{background-color: transparent;padding-top: 3px}}
  li>a>svg{width: 60px; height: 60px; margin: 0 auto;-webkit-transition: .3s ease-in-out; path{fill: #595B58; }
    transition: .3s ease-in-out; &:hover{width: 59px; height: 59px;path{fill: $green-color}}}
  .arc{font-size: 11px;
    padding-left: 22%;
    padding-top: 15px;
    top: 1px;
    position: relative;}
}
#nav-links-right{
  li>a:hover{background-color: transparent;}
  margin-top: 15px;
  li>a>img{width: 80%;-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    &:hover{-webkit-transform: scale(1.17);transform: scale(1.17);}}
}

.navbar-toggle {
  background-color: $green-color;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  .icon-bar {
    color: white;

  }
}
#login-signup-box9{
  width: 100%;
  background-color: #2E2F30;

  z-index: 9999;

  border-radius: 5px;
  color: #768082;
  .btn-wrapper{
    display: flex;
    z-index: 100;
    width: 100%;
    .top-btn {cursor: pointer; background-color: #60615F; width: 50%;color: white;font-size: 20px; font-weight: 500; text-align: center; padding-top: 15px; padding-bottom: 15px;}
  }
  .login{border-top-left-radius: 5px;  }
  .signup{border-top-right-radius: 5px;}
  form{padding: 15px; .btn-box{text-align: center;
    button{background-color: darken($green-color, 10%);color: white; padding-left: 23px; padding-right: 23px; margin-bottom: 5px; }
  }}
  box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
}



#login-signup-box{
  width: 300px;

  top: 65px;
  left: 70.2%;
  z-index: 99;
  position: absolute;
  border-radius: 5px;
color: #768082;
  .btn-wrapper{
   display: flex;
    z-index: 100;
    width: 100%;
    .top-btn{cursor: pointer;background-color: #60615F; width: 50%;color: white;font-size: 20px; font-weight: 500; text-align: center; padding-top: 15px; padding-bottom: 15px;}
  }
  .login{border-top-left-radius: 5px;   }
  .signup{border-top-right-radius: 5px;}
  form{padding: 15px; .btn-box{text-align: center;
    button{background-color: darken($green-color, 10%);color: white; padding-left: 23px; padding-right: 23px; margin-bottom: 5px; }
  }}
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
}


#login-signup-box2{
  width: 300px;

  top: 65px;
  left: 66.4%;
  z-index: 99;
  position: absolute;
  border-radius: 5px;
  color: #768082;
  .btn-wrapper{
    display: flex;
    z-index: 100;
    width: 100%;
    .top-btn{cursor: pointer;background-color: #60615F; width: 50%;color: white;font-size: 20px; font-weight: 500; text-align: center; padding-top: 15px; padding-bottom: 15px;}
  }
  .login{border-top-left-radius: 5px;   }
  .signup{border-top-right-radius: 5px;background-color: #799a30;}
  form{padding: 15px; .btn-box{text-align: center;
    button{background-color: darken($green-color, 10%);color: white; padding-left: 23px; padding-right: 23px; margin-bottom: 5px; }
  }}
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
}






.mob-nav{
  height: 62px;
  background-color: $green-color;

  .col-xs-4{
    margin-top: 18px;
  }
  .hambergur{
    cursor: pointer;
    font-size: 18px;
    color: white;
  }
  .mobo-logo{
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    width: 123px !important;
    margin-left: 18.5%;
    top: -26px;

  }

}

.left-menu{
  //position: ;
  background-color: white;
  padding: 0;

  z-index: 99999;
  .icon-box{margin-top: 6%;; padding: 0; padding-bottom: 5%}
}

.right-menu{
  //position: ;
  background-color: white;

  z-index: 99999;
  #nav-links-mobo{
    margin-top: 7%;

    flex-wrap:         wrap;
    -webkit-flex-wrap: wrap; /* Safari */
    justify-content:         center;
    -webkit-justify-content: center;
    .arc>span{color: #FFF}
    li{text-align: center;font-size: 10px;margin: 0; width: 100%;   border-bottom: 1px solid $green-color;;margin-bottom: 0.5%;    display: inline-flex; justify-content: center ;.arc{    width: 20%;padding-top: 4%; color: $green-color; font-size: 18px;}}
    li>a{padding-left: 6px;; padding-right: 6px;padding-bottom:1px;padding-top:5px; color: #e9e9e9; &:hover{background-color: transparent;}}
    li>a>svg{width: 50px; height: 50px; margin: 0 auto;-webkit-transition: .3s ease-in-out; path{fill:  $green-color; }
      transition: .3s ease-in-out; &:hover{width: 52px; height: 53px;path{fill: darken($green-color, 2%)}}}

  }
}




/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  .navbar{
    margin-bottom: 11px;
  }
  .navbar-brand{
    padding-top: 0px;
    padding-right: 0px;
    text-align: center;
    img{width: 125px;margin: 0 auto;top: -12px;
      position: relative;}
  }
  #nav-links{
    li{text-align: center;font-size: 10px;margin: 0;}
    li>a{padding-left: 4px;; padding-right: 4px;padding-bottom:1px;padding-top:5px; &:hover{background-color: transparent;}}
    li>a>img{width: 53px; margin: 0 auto;-webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; &:hover{-webkit-transform: scale(1.15);-webkit-animation: flash 2.5s;}}
  }
  #nav-links-right{
    li>a:hover{background-color: transparent;}
    margin-top: 15px;
    li>a>img{width: 70%}
  }


}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .navbar{
    background-color: $green-color;
    padding-bottom: 0px;
    margin: 0;


  }
  .navbar-toggle{margin: 14px;padding: 0}

  .navbar-brand{
    padding-top: 0px;
    padding-right: 0px;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    text-align: center;
    width: 100%;
    position: relative;
    top: -00px;
    height: 1px;

    img{        width: 110px;
      margin: 0 auto;
      top: -34px;
      position: relative;}
  }
  #nav-links{
    margin-top: 5%;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-wrap:         wrap;
    -webkit-flex-wrap: wrap; /* Safari */
    justify-content:         center;
    -webkit-justify-content: center;
    .arc>span{color: #FFF}
    li{text-align: center;font-size: 10px;margin: 0;}
    li>a{padding-left: 6px;; padding-right: 6px;padding-bottom:1px;padding-top:5px; color: #e9e9e9; &:hover{background-color: transparent;}}
    li>a>svg{width: 50px; height: 50px; margin: 0 auto;-webkit-transition: .3s ease-in-out; path{fill:  $green-color; }
      transition: .3s ease-in-out; &:hover{width: 52px; height: 53px;path{fill: darken($green-color, 2%)}}}
  }
  #nav-links-right{
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    li>a:hover{background-color: #e9e9e9;}
    margin-top: 15px;
    li>a{background-color: #e9e9e9; margin: 4px; border-radius: 2px}
    li>a>img{width: 4%}
  }
  .mobo-logo{
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    width: 115px;
    margin-left: 16% !important;
    top: -24px;

  }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .navbar{
    background-color: $green-color;
    padding-bottom: 0px;
    margin: 0;


  }
  .navbar-toggle{margin: 14px;padding: 0}

  .navbar-brand{
    padding-top: 0px;
    padding-right: 0px;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    text-align: center;
    width: 100%;
    position: relative;
    top: -00px;
    height: 1px;

    img{        width: 100px;
      margin: 0 auto;
      top: -40px;
      position: relative;}
  }
  #nav-links{
    margin-top: 13.5%;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-wrap:         wrap;
    -webkit-flex-wrap: wrap; /* Safari */
    justify-content:         center;
    -webkit-justify-content: center;
    .arc>span{color: #FFF}
    li{text-align: center;font-size: 10px;margin: 0;}
    li>a{padding-left: 6px;; padding-right: 6px;padding-bottom:1px;padding-top:5px; color: #e9e9e9; &:hover{background-color: transparent;}}
    li>a>svg{width: 50px; height: 50px; margin: 0 auto;-webkit-transition: .3s ease-in-out; path{fill:  #e9e9e9; }
      transition: .3s ease-in-out; &:hover{width: 52px; height: 53px;path{fill: #e9e9e9;}}}
  }
  #nav-links-right{
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    li>a:hover{background-color: #e9e9e9;}
    margin-top: 15px;
    li>a{background-color: #e9e9e9; margin: 4px; border-radius: 2px}
    li>a>img{width: 4%}
  }

  .mobo-logo{
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    width: 90px !important;
    margin-left: -10px !important;
    top: -24px;

  }

}