.navbar{
  margin-bottom: 11px;
}
.navbar-brand{
  padding-top: 8px;
  padding-right: 0px;
  text-align: center;
  img{width: 80%;margin: 0 auto;}
}
#nav-links{
  li{text-align: center;font-size: 10px;margin: 0;}
  li>a{padding-left: 6px;; padding-right: 6px;padding-bottom:1px;padding-top:10px; &:hover{background-color: transparent;}}
  li>a>img{width: 53px; margin: 0 auto;-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; &:hover{-webkit-transform: scale(1.15);-webkit-animation: flash 2.5s;}}
}
#nav-links-right{
  li>a:hover{background-color: transparent;}
  margin-top: 10px;
  li>a>img{width: 80%}
}