@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$green-color: #97c13c;
$orange-color: #f7941d;
$grey-color: lighten(#CCC, 10%);
@font-face {
  font-family: 'lato-Reg';
  src: font-url('Lato-Regular.ttf');

}

body{
  font-family: lato-Reg;
  color:#3E4B58;
  overflow-x: hidden;

}
.img-circle{border: 4px solid #e6f3f1 ;}



.greeno{
  color: $green-color;
}



@import "navbar";
@import "footer";
@import "company/index";
@import "home/index";

a{color: white;}

.bar2{width: 18px;    position: relative;
  top: -3px;}
.baro{width: 30px;    position: relative;
  top: -3px;}

h1{font-size: 35px;font-weight: 300;}

.full_img{
  width: 100%;
  max-height: 500px;
}

.active_m{

  .arc{color: $green-color;}
  svg{path{fill: $green-color !important; }}
}




.thumbnail{
  border-radius: 1px;
}
.modal-content{ border-radius: 1px;}
.chumi{border-radius: 1px;background-color: $green-color;}

a::after{background-color: transparent;}
a:visited{background-color: transparent;}
a:active{background-color: transparent;}
a:focus{background-color: transparent!important;}


.form-control{border: 1px solid $green-color}

@media (max-width: 480px) {

  .full_img{
    width: 100%;
    height: 400px;
  }

}