
<div class="footer">
  <div class="container">
    <div class="col-md-4 follow">

      <h4>FOLLOW US ON &nbsp;&nbsp;&nbsp;<span class=" icon"> <%= image_tag 'facebook.png', width: 11%> </span>
        <span class=" icon"> <%= image_tag 'twitter.png', width: 20%> </span>
        <span class=" icon"><%= image_tag 'instagram.png', width: 20%> </span>
        <span class=" icon"><%= image_tag 'snapchat.png', width: 20%> </span>
      </h4>

    </div>
    <div class="col-md-7 col-md-offset-1 text ">

      <p style="font-size: 15px;" ><a href="#"> Terms & Conditions</a> |<a href="#"> FAQ </a>|<a href="#"> Contact Us </a>| <a href="#">Add a Company</a></p>
      <p style="font-weight: 700"> © 2015 Manazilkw.com  Powered by APC + Bizovative </p>
    </div>
  </div>
</div>