
<div class="footer">
  <div class="container">
    <div class="col-md-4 follow">

      <h4>FOLLOW US ON &nbsp;&nbsp;&nbsp;<span class=" icon"> <%= fa_icon 'facebook'%> </span>
        <span class=" icon"> <%= fa_icon 'twitter'%> </span>
        <span class=" icon"> <%= fa_icon 'instagram'%> </span>
        <span class=" icon"> <%= fa_icon 'facebook'%> </span>
      </h4>

    </div>
    <div class="col-md-7 col-md-offset-1 text ">

      <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda</p>
      <p >Copyright 2015, All rights reserved</p>
    </div>
  </div>
</div>