
<div class="xs-footer container visible-xs">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 visible-xs">
      <p ><a href="/terms"> Terms & Conditions</a> |<a href="/faq"> FAQ </a>|<a href="/contact"> Contact Us </a>| <a href="/companies/create">Add a Company</a></p>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container">



    <div class="col-sm-4 follow">

      <h4>FOLLOW US ON &nbsp;&nbsp;&nbsp;<span class=" icon first">


        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1024 1024"><g id="icomoon-ignore">
        </g>
          <path d="M711.914 277.274h-114.216c-13.494 0-28.58 17.758-28.58 41.522v82.478h142.796v117.55h-142.796v353.020h-134.8v-353.020h-122.23v-117.55h122.23v-69.196c0-99.214 68.86-179.922 163.38-179.922h114.216v125.118z"></path>
        </svg>



      </span>
        <span class=" icon">


          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1024 1024"><g id="icomoon-ignore">
          </g>
            <path d="M873.196 287.948c-26.592 11.792-55.148 19.754-85.13 23.342 30.612-18.342 54.106-47.388 65.178-81.994-28.648 16.976-60.364 29.314-94.118 35.962-27.038-28.808-65.562-46.798-108.182-46.798-81.848 0-148.208 66.352-148.208 148.202 0 11.618 1.304 22.928 3.834 33.77-123.166-6.172-232.404-65.178-305.48-154.848-12.758 21.89-20.076 47.35-20.076 74.51 0 51.414 26.164 96.772 65.93 123.356-24.276-0.766-47.142-7.422-67.126-18.526-0.016 0.614-0.016 1.226-0.016 1.856 0 71.812 51.1 131.714 118.884 145.326-12.422 3.388-25.518 5.206-39.044 5.206-9.54 0-18.818-0.928-27.88-2.66 18.864 58.876 73.614 101.732 138.454 102.92-50.732 39.76-114.622 63.454-184.064 63.454-11.962 0-23.756-0.706-35.35-2.092 65.578 42.066 143.47 66.612 227.19 66.612 272.6 0 421.682-225.848 421.682-421.706 0-6.41-0.138-12.804-0.43-19.178 28.956-20.882 54.076-46.986 73.952-76.714z"></path>
          </svg>




        </span>
        <span class=" icon">


          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1024 1024"><g id="icomoon-ignore">
          </g>
            <path d="M231.2 696.276c0-122.852 0-245.7 0-368.55 0.644-1.66 1.644-3.274 1.882-4.992 5.14-36.738 24.508-63.602 57.524-79.816 11.512-5.656 24.7-7.91 37.122-11.714 122.848 0 245.7 0 368.546 0 1.66 0.644 3.274 1.64 4.988 1.882 36.742 5.136 63.606 24.504 79.824 57.516 5.656 11.516 7.906 24.704 11.714 37.126 0 122.852 0 245.7 0 368.55-0.644 1.66-1.644 3.274-1.882 4.992-5.14 36.738-24.508 63.602-57.524 79.82-11.512 5.652-24.696 7.906-37.122 11.71-122.848 0-245.7 0-368.546 0-1.66-0.644-3.27-1.64-4.988-1.882-36.742-5.136-63.606-24.504-79.824-57.516-5.652-11.518-7.906-24.704-11.714-37.126zM749.808 426.17c0-28.32 0.136-54.96-0.086-81.602-0.062-7.626-0.148-15.496-1.954-22.828-7.46-30.34-31.464-47.476-66.204-47.512-100.176-0.102-200.356-0.042-300.536-0.032-14.988 0-30-0.422-44.96 0.218-35.836 1.532-60.32 25.488-61.546 61.18-0.942 27.386-0.098 54.832-0.442 82.25-0.090 7.090 3.008 8.528 9.246 8.46 23.032-0.234 46.070-0.376 69.094 0.074 7.516 0.148 11.476-2.622 15.718-8.8 35.484-51.676 84.938-78.886 147.582-77.602 60.824 1.25 108.16 29.36 142.074 80.004 1.786 2.668 5.32 5.876 8.086 5.918 27.346 0.444 54.698 0.272 83.928 0.272zM641.704 511.962c0-71.726-57.942-129.692-129.656-129.708-71.75-0.020-129.7 57.872-129.746 129.61-0.046 71.136 58.542 129.808 129.648 129.836 71.108 0.028 129.75-58.608 129.754-129.738z"></path>
            <path d="M685.644 296.994c7.652 0 15.356-0.532 22.95 0.132 10.458 0.91 17.778 7.886 18.246 18.376 0.7 15.644 0.738 31.368 0.042 47.012-0.516 11.528-8.562 18.828-21.098 19.442-13.828 0.676-27.738 0.676-41.57 0.028-13.602-0.632-21.566-8.668-22.21-22.3-0.636-13.468-0.61-27.004-0.050-40.48 0.594-14.344 8.562-21.852 22.902-22.512 6.914-0.316 13.856-0.054 20.79-0.054-0.002 0.118-0.002 0.238-0.002 0.356z"></path>
            <path d="M438.786 477.826c3.242 30.042 19.504 46.222 44.504 45.496 21.762-0.632 39.386-18.246 40.032-40.004 0.738-25.008-15.476-41.328-44.102-44.376 23.3-17.016 68.992-8.61 92.308 16.98 29.106 31.95 29.64 77.898 1.286 110.66-25.918 29.95-73.168 35.804-106.618 13.222-32.84-22.174-45.488-67.162-27.41-101.978z"></path>
          </svg>



        </span>
        <span class=" icon">

          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1024 1024"><g id="icomoon-ignore">
          </g>
            <path d="M285.686 766.156c-5.292-13.464-10.326-26.25-15.852-40.304-26.452-14.976-64.768-8.064-88.342-44.618 13.17-6.8 24.3-13.938 36.396-18.546 48.542-18.5 81.9-52.982 103.93-98.766 5.28-10.976 5.428-24.424 7.442-34.308-24.58-26.336-65.2-21.234-79.53-54.446 18.046-46.098 55.162-7.142 82.596-21.222 0-22 1.564-45.714-0.276-69.166-7.422-94.662 57.288-153.764 113.12-172.406 84.34-28.158 173.86-2.040 219.318 64.35 19.244 28.104 27.096 58.87 26.226 92.628-0.728 28.132-0.15 56.298-0.15 84.25 27.696 14.062 64.284-23.964 83.872 19.586-10.608 37.016-55.848 28.786-79.048 60.194 2.916 10.010 4.776 25.088 11.436 37.624 23.26 43.8 57.020 76.506 104.846 93.458 10.35 3.664 19.512 10.69 30.836 17.076-21.804 34.772-57.746 30.3-86.294 43.754-4.888 10.792-10.19 22.5-17.352 38.314-65.666-16.554-118.428 13.626-173.066 45.654-34.444 20.188-76.060 16.614-113.356-2.458-12.576-6.43-24.944-13.714-36.19-22.216-31.898-24.106-67.676-27.976-105.646-22.374-7.388 1.088-14.76 2.326-24.916 3.942z"></path>
          </svg>


        </span>
      </h4>

    </div>
    <div class="col-sm-7 col-sm-offset-1 text ">

      <p class="hidden-xs" ><a href="/terms"> Terms & Conditions</a> |<a href="/faq"> FAQ </a>|<a href="/contact"> Contact Us </a>| <a href="/companies/create">Add a Company</a></p>
      <p style="font-weight: 700"> © 2015 Manazilkw.com  Powered by APC + Bizovative </p>
    </div>
  </div>
</div>